* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Carlito", sans-serif;
}

th {
    color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

body {
    margin-top: 10%;
    min-height: 100vh;
    background: url('img/blue_bg.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(0,0,0,0.5);
}

p{
    color:#fff;
    font-size: 15px;
    font-family: "Carlito", sans-serif;
    font-weight: 200;
    font-style: normal;
}


.logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.logo {
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-family: "Carlito", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-family: "Carlito", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.nav-button {
    width: 100px;
    height: 40px;
    position: relative;
    margin-left: 40px;
    font-size: 18px;
    color: rgb(25, 150, 223);
    background: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    font-family: "Carlito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.form-login {
    position: absolute;
    margin-top: 30px;
    top: 24%;
    left: 10%;
    justify-content: center;
    flex-direction: column;
    width: 800;
    height: auto;
    padding: 30px;
    background: rgba(0,0,0,0.5);
}

.form-name{                        /*quando cambi gli attributi di form name cambia anche form login*/ 
    position: absolute;         
    top: 18%;
    left: 10%;
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-family: "Carlito", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.form-scelta {
    position: absolute;
    margin-top: 30px;
    top: 28%;
    right: 10%;
    justify-content: center;
    flex-direction: column;
    width: 400;
    height: auto;
    padding: 30px;
    background: rgba(0,0,0,0.5);
}

.form-name-scelta{                         
    position: absolute;         
    top: 24%;
    right: 10%;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: "Carlito", sans-serif;
    font-weight: 800;
    font-style: normal;
}


.input-box {
    position: relative;
    top: -35px;
    left: 17px;
    color: white;
}

.input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.submit-btn {
    margin-top: 5%;
    width: 100%;
    height: 60px;
    background: rgb(25, 150, 223);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.submit-btn:hover {
    background: rgb(18, 112, 167);
    transition: .3s;
}

.input-submit{
    position: relative;
    top: -35px;
    margin-top: 70px;
}

.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.form-label{
    color:#fff;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.input-checkbox{
    color:#fff;
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    justify-content: center;
    flex-direction: column;
    width: 800;
    height: auto;
    padding: 30px;
    color: white;
}

section {
    width: 100%;
    height: 100vh;
    background: url('img/blue_bg.jpg');
    background-size: cover;
}

section .left-box {
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}

section .left-box .content {
    color: #fff;
    background: rgba(0,0,0, 0.5);
    padding: 40px;
    transition: 0.3s;
}

section .left-box .content:hover {
    background: rgb(25, 150, 223);
}

section .left-box .content h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

section .left-box .content p {
    margin: 10px 0 0;
    padding: 0;
}

section . eventi {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 50px;
    background: transparent;
    float: left;
    box-sizing: border-box;
}

section .eventi .time {
    color: #fff;
}

section .eventi .time h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

section .eventi .details h3 {
    color: #fff;
    margin: 10px 0 0;
    padding: 0;
    font-size: 25px;
}
section .eventi .details p {
    margin: 10px 0 0;
    padding-right: 30px;
    padding-bottom: 40px;
}

ul {
    list-style-type: none;
    }
    